<h1> <%= @theme.name %> </h1>

<% @theme.questions.each do |question| %>
<ul>
  <li>
    <%= question.name %><br/>
    <%= Reponse.find_by_id(question.reponse_id).name %>
  </li>
</ul>
<% end %>

<h2> Recevoir ces informations par mail ? </h2>

<%= form_tag(theme_mail_path) do %>
<!--   First name: <%= text_field_tag :first_name %><br />
  Last name : <%= text_field_tag :last_name %><br /> -->
  Email : <%= text_field_tag :email %><br />
  <%= submit_tag "Save" %>
<% end %>
